.c_frame1-frame1 {

  width: 100%;

  overflow: hidden;

  max-width: 1728px;

  box-sizing: border-box;

  align-items: flex-start;

  flex-direction: column;

  justify-content: flex-start;

  background-color: #fff;

}



.c_frame1-rectangle10 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 1728px;

}



.c_frame1-text10,

.c_frame1-text11 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text10 {

  width: 100%;

  max-width: 1066px;

  min-height: 82px;

}



.c_frame1-text11 {

  color: #fff;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle11,

.c_frame1-rectangle12 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-rectangle11 {

  max-width: 945px;

  border-radius: 100px 100px 100px 100px;

}



.c_frame1-rectangle12 {

  max-width: 36px;

}



.c_frame1-text12,

.c_frame1-text13 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text12 {

  width: 100%;

  max-width: 850px;

  min-height: 164px;

}



.c_frame1-text13 {

  color: #fff;

  font-size: 64px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle13,

.c_frame1-rectangle14,

.c_frame1-rectangle15 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 634px;

}



.c_frame1-rectangle14,

.c_frame1-rectangle15 {

  max-width: 468px;

}



.c_frame1-rectangle15 {

  max-width: 487px;

  box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);

}



.c_frame1-text14 {

  width: 100%;

  max-width: 273px;

  margin-top: 0;

  min-height: 22px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text15 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text15,

.c_frame1-text16,

.c_frame1-text17 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text16 {

  width: 100%;

  max-width: 305px;

  min-height: 23px;

}



.c_frame1-text17 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-polygon1 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 178.58343505859375px;

  transform: rotate(-33.59deg);

}



.c_frame1-ellipse10 {

  max-width: 110px;

  border-radius: 100%;

}



.c_frame1-ellipse10,

.c_frame1-rectangle16,

.c_frame1-rectangle17 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-rectangle16 {

  max-width: 88px;

  border-radius: 4px 4px 4px 4px;

}



.c_frame1-rectangle17 {

  max-width: 486px;

  box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);

}



.c_frame1-text18 {

  width: 100%;

  max-width: 185px;

  margin-top: 0;

  min-height: auto;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text19 {

  color: #000;

  font-size: 13px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text19,

.c_frame1-text20,

.c_frame1-text21 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text20 {

  width: 100%;

  max-width: 306px;

  min-height: 22px;

}



.c_frame1-text21 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-polygon2 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 178.5834503173828px;

  transform: rotate(-31.15deg);

}



.c_frame1-ellipse11 {

  max-width: 110px;

  border-radius: 100%;

}



.c_frame1-ellipse11,

.c_frame1-rectangle18,

.c_frame1-rectangle19 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-rectangle18 {

  max-width: 88px;

  border-radius: 4px 4px 4px 4px;

}



.c_frame1-rectangle19 {

  max-width: 487px;

  box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);

}



.c_frame1-text22 {

  width: 100%;

  max-width: 326px;

  min-height: 59px;

}



.c_frame1-text22,

.c_frame1-text23,

.c_frame1-text24 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text23 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text24 {

  width: 100%;

  max-width: 305px;

  min-height: 44px;

}



.c_frame1-text25,

.c_frame1-text26 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text25,

.c_frame1-text26,

.c_frame1-text27,

.c_frame1-text28 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text27 {

  width: 100%;

  max-width: 306px;

  min-height: 22px;

}



.c_frame1-text28 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-polygon3 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 178.58346557617188px;

  transform: rotate(-33.59deg);

}



.c_frame1-ellipse12 {

  max-width: 110px;

  border-radius: 100%;

}



.c_frame1-ellipse12,

.c_frame1-rectangle20,

.c_frame1-rectangle21 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-rectangle20 {

  max-width: 84px;

  border-radius: 4px 4px 4px 4px;

}



.c_frame1-rectangle21 {

  max-width: 486px;

  box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);

}



.c_frame1-text29 {

  width: 100%;

  max-width: 225px;

  margin-top: 0;

  min-height: 22px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text30 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text30,

.c_frame1-text31,

.c_frame1-text32 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text31 {

  width: 100%;

  max-width: 306px;

  min-height: 23px;

}



.c_frame1-text32 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-polygon4 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 178.58346557617188px;

  transform: rotate(-33.59deg);

}



.c_frame1-ellipse13 {

  max-width: 110px;

  border-radius: 100%;

}



.c_frame1-ellipse13,

.c_frame1-rectangle22,

.c_frame1-rectangle23 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-rectangle22 {

  max-width: 88px;

  border-radius: 4px 4px 4px 4px;

}



.c_frame1-rectangle23 {

  max-width: 488px;

  box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);

}



.c_frame1-text33 {

  width: 100%;

  max-width: 297px;

  margin-top: 0;

  min-height: 90px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text34,

.c_frame1-text35 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text34,

.c_frame1-text35,

.c_frame1-text36,

.c_frame1-text37 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text36 {

  width: 100%;

  max-width: 306px;

  min-height: 22px;

}



.c_frame1-text37 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-polygon5,

.c_frame1-rectangle24 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-polygon5 {

  max-width: 178.58346557617188px;

  transform: rotate(-33.59deg);

}



.c_frame1-rectangle24 {

  max-width: 87px;

  border-radius: 4px 4px 4px 4px;

}



.c_frame1-text38 {

  width: 100%;

  max-width: auto;

  min-height: auto;

}



.c_frame1-text38,

.c_frame1-text39,

.c_frame1-text40 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text39 {

  color: #000;

  font-size: 36px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text40 {

  width: 100%;

  max-width: 382px;

  min-height: 58px;

}



.c_frame1-text41 {

  color: #000;

  font-size: 36px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text41,

.c_frame1-text42,

.c_frame1-text43 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text42 {

  width: 100%;

  max-width: 126px;

  min-height: 52px;

}



.c_frame1-text43 {

  color: #000;

  font-size: 36px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-ellipse14,

.c_frame1-ellipse15,

.c_frame1-ellipse16,

.c_frame1-ellipse17,

.c_frame1-ellipse18 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 292px;

  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.25);

  border-radius: 100%;

}



.c_frame1-ellipse17,

.c_frame1-ellipse18 {

  max-width: 281px;

}



.c_frame1-ellipse18 {

  max-width: 292px;

}



.c_frame1-rectangle25,

.c_frame1-rectangle26,

.c_frame1-rectangle27,

.c_frame1-rectangle28 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 181px;

}



.c_frame1-rectangle27,

.c_frame1-rectangle28 {

  max-width: 224px;

}



.c_frame1-text44 {

  width: 100%;

  max-width: 285px;

  margin-top: 0;

  min-height: 35px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text45 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text45,

.c_frame1-text46,

.c_frame1-text47 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text46 {

  width: 100%;

  max-width: 265px;

  min-height: 35px;

}



.c_frame1-text47 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text48 {

  width: 100%;

  max-width: 256px;

  min-height: 35px;

}



.c_frame1-text48,

.c_frame1-text49,

.c_frame1-text50 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text49 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text50 {

  width: 100%;

  max-width: 356px;

  min-height: 35px;

}



.c_frame1-text51 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text51,

.c_frame1-text52,

.c_frame1-text53 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text52 {

  width: 100%;

  max-width: 249px;

  min-height: 35px;

}



.c_frame1-text53 {

  color: #000;

  font-size: 20px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle29 {

  max-width: 224px;

}



.c_frame1-ellipse19,

.c_frame1-rectangle29,

.c_frame1-rectangle30 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-ellipse19 {

  max-width: 110px;

  max-height: 110px;

  border-radius: 100%;

}



.c_frame1-rectangle30 {

  max-width: 751px;

}



.c_frame1-text54 {

  width: 100%;

  max-width: 732px;

  margin-top: 0;

  min-height: 92px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text55 {

  color: #000;

  font-size: 32px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 400;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text55,

.c_frame1-text56,

.c_frame1-text57 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text56 {

  width: 100%;

  max-width: 704px;

  min-height: 184px;

}



.c_frame1-text57 {

  color: #000;

  font-size: 32px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 400;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-ellipse20,

.c_frame1-ellipse21,

.c_frame1-rectangle31 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 1728px;

}



.c_frame1-ellipse20,

.c_frame1-ellipse21 {

  max-width: 54px;

  border-radius: 100%;

}



.c_frame1-text58,

.c_frame1-text59 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text58 {

  width: 100%;

  max-width: 892px;

  min-height: 69px;

}



.c_frame1-text59 {

  color: #fff;

  font-size: 15px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text60 {

  width: 100%;

  max-width: 893px;

  min-height: 34px;

}



.c_frame1-text60,

.c_frame1-text61,

.c_frame1-text62 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text61 {

  color: #fff;

  font-size: 15px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text62 {

  width: 100%;

  max-width: 169px;

  min-height: auto;

}



.c_frame1-text63 {

  color: #fff;

  font-size: 15px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text63,

.c_frame1-text64,

.c_frame1-text65 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text64 {

  width: 100%;

  max-width: 79px;

  min-height: 34px;

}



.c_frame1-text65 {

  color: #fff;

  font-size: 15px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle32 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 414px;

  border-radius: 40px 40px 40px 40px;

}



.c_frame1-rectangle33,

.c_frame1-rectangle34 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 34px;

}



.c_frame1-rectangle34 {

  max-width: 414px;

  border-radius: 40px 40px 40px 40px;

}



.c_frame1-rectangle35,

.c_frame1-rectangle36 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 35px;

}



.c_frame1-rectangle36 {

  max-width: 333px;

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-rectangle37 {

  max-width: 353px;

  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.25);

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-ellipse22,

.c_frame1-rectangle37,

.c_frame1-rectangle38 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-ellipse22 {

  max-width: 143px;

  border-radius: 100%;

}



.c_frame1-rectangle38 {

  max-width: 112px;

}



.c_frame1-text66,

.c_frame1-text67 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text66 {

  width: 100%;

  max-width: 331px;

  min-height: 29px;

}



.c_frame1-text67 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-line1 {

  width: 100%;

  height: 1px;

  margin: 0;

  display: block;

  max-width: 312px;

  max-height: 1px;

}



.c_frame1-rectangle39 {

  max-width: 333px;

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-ellipse23,

.c_frame1-rectangle39,

.c_frame1-rectangle40 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-rectangle40 {

  max-width: 353px;

  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.25);

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-ellipse23 {

  max-width: 142px;

  border-radius: 100%;

}



.c_frame1-text68,

.c_frame1-text69 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text68 {

  width: 100%;

  max-width: 331px;

  min-height: 29px;

}



.c_frame1-text69 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-line2 {

  width: 100%;

  height: 1px;

  margin: 0;

  display: block;

  max-width: 321px;

  transform: rotate(0deg);

  max-height: 1px;

}



.c_frame1-rectangle41 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 333px;

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-rectangle42,

.c_frame1-rectangle43 {

  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.25);

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-rectangle42 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 863px;

}



.c_frame1-rectangle43 {

  max-width: 353px;

}



.c_frame1-ellipse24,

.c_frame1-rectangle43,

.c_frame1-rectangle44 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

}



.c_frame1-ellipse24 {

  max-width: 263px;

  border-radius: 100%;

}



.c_frame1-rectangle44 {

  max-width: 206px;

}



.c_frame1-text70,

.c_frame1-text71 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text70 {

  width: 100%;

  max-width: 517px;

  min-height: 56px;

}



.c_frame1-text71 {

  color: #000;

  font-size: 40px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-line3 {

  width: 100%;

  height: 1px;

  margin: 0;

  display: block;

  max-width: 822px;

  max-height: 1px;

}



.c_frame1-text72,

.c_frame1-text73 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text72 {

  width: 100%;

  max-width: 319px;

  min-height: 27px;

}



.c_frame1-text73 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-line4 {

  width: 100%;

  height: 1px;

  margin: 0;

  display: block;

  max-width: 312px;

  transform: rotate(0deg);

  max-height: 1px;

}



.c_frame1-rectangle45,

.c_frame1-rectangle46 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 333px;

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-rectangle46 {

  max-width: 353px;

  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.25);

}



.c_frame1-text74,

.c_frame1-text75 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text74 {

  width: 100%;

  max-width: 310px;

  min-height: 29px;

}



.c_frame1-text75 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Poppins",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-line5 {

  width: 100%;

  height: 2.1776123046875px;

  margin: 0;

  display: block;

  max-width: 311.15106201171875px;

  transform: rotate(-.22deg);

  max-height: 2.1776123046875px;

}



.c_frame1-ellipse25 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 143px;

  border-radius: 100%;

}



.c_frame1-ellipse26,

.c_frame1-rectangle47 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 203px;

}



.c_frame1-ellipse26 {

  max-width: 143px;

  border-radius: 100%;

}



.c_frame1-rectangle48,

.c_frame1-rectangle49 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 197px;

}



.c_frame1-frame2 {

  width: 100%;

  overflow: hidden;

  max-width: 1728px;

  box-sizing: border-box;

  align-items: flex-start;

  border-radius: 30px 30px 30px 30px;

  flex-direction: column;

  justify-content: flex-start;

  background-color: #fff;

}



.c_frame1-text76 {

  width: 100%;

  max-width: 121px;

  margin-top: 0;

  min-height: 26px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text77 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text77,

.c_frame1-text78,

.c_frame1-text79 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text78 {

  width: 100%;

  max-width: 168px;

  min-height: 26px;

}



.c_frame1-text79 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text80 {

  width: 100%;

  max-width: 123px;

  min-height: 26px;

}



.c_frame1-text80,

.c_frame1-text81,

.c_frame1-text82 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text81 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text82 {

  width: 100%;

  max-width: 147px;

  min-height: 26px;

}



.c_frame1-text83 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text83,

.c_frame1-text84,

.c_frame1-text85 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text84 {

  width: 100%;

  max-width: 142px;

  min-height: 26px;

}



.c_frame1-text85 {

  color: #000;

  font-size: 24px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle50 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 177px;

  border-radius: 50px 50px 50px 50px;

}



.c_frame1-text86,

.c_frame1-text87 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text86 {

  width: 100%;

  max-width: 166px;

  min-height: 26px;

}



.c_frame1-text87 {

  color: #fff;

  font-size: 24px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle51 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 122px;

}



.c_frame1-text88 {

  width: 100%;

  max-width: 284px;

  margin-top: 0;

  min-height: 46px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text89 {

  color: #fff;

  font-size: 20px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text89,

.c_frame1-text90,

.c_frame1-text91 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text90 {

  width: 100%;

  max-width: 471px;

  min-height: 56px;

}



.c_frame1-text91 {

  color: #fff;

  font-size: 24px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle52,

.c_frame1-rectangle53 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 196px;

  border-radius: 30px 30px 30px 30px;

}



.c_frame1-rectangle53 {

  max-width: 65px;

}



.c_frame1-text92 {

  width: 100%;

  max-width: 79px;

  margin-top: 0;

  min-height: 24px;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text93 {

  color: #fff;

  font-size: 12px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-text93,

.c_frame1-text94,

.c_frame1-text95 {

  margin-top: 0;

  text-align: left;

  margin-bottom: 0;

}



.c_frame1-text94 {

  width: 100%;

  max-width: 119px;

  min-height: 30px;

}



.c_frame1-text95 {

  color: #fff;

  font-size: 16px;

  font-style: normal;

  font-family: "Inter",sans-serif;

  font-weight: 700;

  line-height: normal;

  letter-spacing: 0;

  text-transform: none;

}



.c_frame1-rectangle54,

.c_frame1-rectangle55 {

  width: 100%;

  height: auto;

  margin: 0;

  display: block;

  max-width: 54px;

}



.c_frame1-rectangle55 {

  max-width: 63px;

}
