.frame {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.frame .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 2908px;
  position: relative;
}

.frame .overlap {
  position: absolute;
  width: 1931px;
  height: 786px;
  top: -2px;
  left: -37px;
}

.frame .element-cirebon {
  position: absolute;
  width: 1735px;
  height: 599px;
  top: 0;
  left: 30px;
}

.frame .text-wrapper {
  position: absolute;
  width: 1066px;
  top: 322px;
  left: 102px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .rectangle {
  position: absolute;
  width: 945px;
  height: 54px;
  top: 405px;
  left: 90px;
  background-color: #ffffff;
  border-radius: 100px;
}

.frame .search-interface {
  position: absolute;
  width: 36px;
  height: 35px;
  top: 414px;
  left: 960px;
  object-fit: cover;
}

.frame .p {
  position: absolute;
  width: 850px;
  top: 130px;
  left: 101px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .IMG {
  top: 111px;
  left: 1023px;
  position: absolute;
  width: 634px;
  height: 423px;
}

.frame .IMG-wa {
  top: 106px;
  left: 1297px;
  position: absolute;
  width: 634px;
  height: 423px;
}

.frame .rectangle-2 {
  position: absolute;
  width: 475px;
  height: 151px;
  top: 476px;
  left: 101px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px #00000040;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 273px;
  top: 497px;
  left: 303px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  width: 305px;
  top: 566px;
  left: 303px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .polygon {
  height: 215px;
  top: 408px;
  left: 0;
  position: absolute;
  width: 324px;
}

.frame .ellipse {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 501px;
  left: 165px;
  background-color: #ffffff;
  border-radius: 55px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.frame .MASJID-ATTAQWA {
  width: 88px;
  height: 66px;
  top: 520px;
  left: 176px;
  position: absolute;
  object-fit: cover;
}

.frame .rectangle-3 {
  position: absolute;
  width: 474px;
  height: 151px;
  top: 635px;
  left: 986px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px #00000040;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 185px;
  top: 563px;
  left: 766px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  width: 306px;
  top: 726px;
  left: 1188px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .img {
  height: 196px;
  top: 553px;
  left: 885px;
  position: absolute;
  width: 324px;
}

.frame .ellipse-2 {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 659px;
  left: 1048px;
  background-color: #ffffff;
  border-radius: 55px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.frame .MASJID-ATTAQWA-2 {
  width: 88px;
  height: 66px;
  top: 681px;
  left: 1060px;
  position: absolute;
  object-fit: cover;
}

.frame .rectangle-4 {
  position: absolute;
  width: 475px;
  height: 151px;
  top: 635px;
  left: 404px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px #00000040;
}

.frame .text-wrapper-6 {
  position: absolute;
  width: 326px;
  top: 654px;
  left: 605px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .taman-goa-sunyaragi {
  position: absolute;
  width: 305px;
  top: 656px;
  left: 1180px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-7 {
  width: 306px;
  top: 726px;
  left: 605px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .polygon-2 {
  height: 215px;
  top: 568px;
  left: 303px;
  position: absolute;
  width: 324px;
}

.frame .ellipse-3 {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 655px;
  left: 446px;
  background-color: #ffffff;
  border-radius: 55px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.frame .MASJID-ATTAQWA-3 {
  width: 84px;
  height: 62px;
  top: 676px;
  left: 460px;
  position: absolute;
  object-fit: cover;
}

.frame .rectangle-5 {
  position: absolute;
  width: 474px;
  height: 151px;
  top: 476px;
  left: 1257px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px #00000040;
}

.frame .text-wrapper-8 {
  position: absolute;
  width: 225px;
  top: 497px;
  left: 1459px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-9 {
  width: 306px;
  top: 566px;
  left: 1459px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .polygon-3 {
  height: 215px;
  top: 408px;
  left: 1156px;
  position: absolute;
  width: 324px;
}

.frame .ellipse-4 {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 499px;
  left: 1319px;
  background-color: #ffffff;
  border-radius: 55px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.frame .MASJID-ATTAQWA-4 {
  width: 88px;
  height: 66px;
  top: 521px;
  left: 1331px;
  position: absolute;
  object-fit: cover;
}

.frame .rectangle-6 {
  position: absolute;
  width: 476px;
  height: 151px;
  top: 476px;
  left: 693px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px #00000040;
}

.frame .keraton-kanoman {
  position: absolute;
  width: 297px;
  top: 477px;
  left: 885px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-10 {
  width: 306px;
  top: 572px;
  left: 885px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .polygon-4 {
  height: 215px;
  top: 408px;
  left: 592px;
  position: absolute;
  width: 324px;
}

.frame .MASJID-ATTAQWA-5 {
  width: 87px;
  height: 66px;
  top: 520px;
  left: 768px;
  position: absolute;
  object-fit: cover;
}

.frame .ellipse-5 {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 499px;
  left: 755px;
  border-radius: 55px;
  border: 1px solid;
  border-color: #afafaf;
}

.frame .text-wrapper-11 {
  position: absolute;
  top: 820px;
  left: 46px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-12 {
  position: absolute;
  width: 382px;
  top: 1266px;
  left: 46px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-13 {
  position: absolute;
  width: 126px;
  top: 1881px;
  left: 64px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-group {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 911px;
  left: 56px;
  background-color: #b9fbc078;
  border-radius: 136px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .wmremove-transformed {
  width: 181px;
  height: 181px;
  top: 37px;
  left: 62px;
  position: absolute;
  object-fit: cover;
}

.frame .overlap-2 {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 911px;
  left: 399px;
  border-radius: 136px;
}

.frame .ellipse-6 {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 0;
  left: 0;
  background-color: #fff1a68f;
  border-radius: 136px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .wmremove-transformed-2 {
  width: 181px;
  height: 181px;
  top: 36px;
  left: 42px;
  position: absolute;
  object-fit: cover;
}

.frame .overlap-3 {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 908px;
  left: 741px;
  border-radius: 136px;
}

.frame .ellipse-7 {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 0;
  left: 0;
  background-color: #fdc5d5ab;
  border-radius: 136px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .wmremove-transformed-3 {
  width: 224px;
  height: 224px;
  top: 24px;
  left: 24px;
  position: absolute;
  object-fit: cover;
}

.frame .wmremove-transformed-wrapper {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 909px;
  left: 1453px;
  background-color: #a5d8ff2e;
  border-radius: 136px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .overlap-4 {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 909px;
  left: 1111px;
  border-radius: 136px;
}

.frame .ellipse-8 {
  position: absolute;
  width: 272px;
  height: 272px;
  top: 0;
  left: 0;
  background-color: #e5d5faa6;
  border-radius: 136px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .wmremove-transformed-4 {
  width: 224px;
  height: 224px;
  top: 24px;
  left: 30px;
  position: absolute;
  object-fit: cover;
}

.frame .text-wrapper-14 {
  width: 285px;
  top: 1212px;
  left: 98px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-15 {
  width: 265px;
  top: 1212px;
  left: 442px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-16 {
  width: 256px;
  top: 1212px;
  left: 787px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-17 {
  width: 356px;
  top: 1212px;
  left: 1153px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-18 {
  width: 249px;
  top: 1209px;
  left: 1512px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-5 {
  position: absolute;
  width: 751px;
  height: 421px;
  top: 1944px;
  left: 896px;
}

.frame .screenshot {
  position: absolute;
  width: 751px;
  height: 421px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame .text-wrapper-19 {
  position: absolute;
  width: 169px;
  top: 367px;
  left: 262px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-20 {
  position: absolute;
  width: 732px;
  top: 1943px;
  left: 129px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .sekelompok-remaja {
  position: absolute;
  width: 704px;
  top: 2103px;
  left: 129px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-6 {
  position: absolute;
  width: 1762px;
  height: 467px;
  top: 2441px;
  left: -17px;
  background-color: #799eff;
}

.frame .ellipse-9 {
  position: absolute;
  width: 54px;
  height: 102px;
  top: 346px;
  left: 71px;
  background-color: #d9d9d98f;
  border-radius: 27px / 51px;
}

.frame .ellipse-10 {
  position: absolute;
  width: 54px;
  height: 102px;
  top: 348px;
  left: 184px;
  background-color: #d9d9d98f;
  border-radius: 27px / 51px;
}

.frame .text-wrapper-21 {
  position: absolute;
  width: 892px;
  top: 215px;
  left: 54px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-22 {
  position: absolute;
  width: 893px;
  top: 292px;
  left: 52px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-23 {
  position: absolute;
  width: 79px;
  top: 133px;
  left: 1161px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .send-wrapper {
  position: absolute;
  width: 414px;
  height: 58px;
  top: 34px;
  left: 1161px;
  background-color: #ffffff;
  border-radius: 40px;
}

.frame .send {
  width: 34px;
  position: absolute;
  height: 35px;
  top: 11px;
  left: 363px;
  object-fit: cover;
}

.frame .img-wrapper {
  position: absolute;
  width: 414px;
  height: 58px;
  top: 189px;
  left: 1161px;
  background-color: #ffffff;
  border-radius: 40px;
}

.frame .send-2 {
  width: 35px;
  position: absolute;
  height: 35px;
  top: 11px;
  left: 363px;
  object-fit: cover;
}

.frame .overlap-7 {
  position: absolute;
  width: 708px;
  height: 495px;
  top: 1318px;
  left: 949px;
}

.frame .rectangle-7 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 6px;
  left: 0;
  background-color: #dcf6f6;
  border-radius: 50px;
}

.frame .rectangle-8 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 6px;
  left: 0;
  background-color: #fff7cd;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .ellipse-11 {
  position: absolute;
  width: 143px;
  height: 143px;
  top: 11px;
  left: 97px;
  background-color: #fff7cd;
  border-radius: 71.5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .wmremove-transformed-5 {
  width: 112px;
  height: 112px;
  top: 22px;
  left: 107px;
  position: absolute;
  object-fit: cover;
}

.frame .text-wrapper-24 {
  width: 331px;
  top: 170px;
  left: 36px;
  font-size: 24px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.frame .line {
  width: 312px;
  top: 214px;
  left: 12px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.frame .rectangle-9 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 255px;
  left: 353px;
  background-color: #dcf6f6;
  border-radius: 50px;
}

.frame .rectangle-10 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 255px;
  left: 353px;
  background-color: #eff8ff;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .ellipse-12 {
  position: absolute;
  width: 142px;
  height: 142px;
  top: 264px;
  left: 453px;
  background-color: #eff8ff;
  border-radius: 71px;
  border: 1px solid;
  border-color: #000000;
}

.frame .text-wrapper-25 {
  width: 331px;
  top: 425px;
  left: 377px;
  font-size: 24px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.frame .line-2 {
  width: 321px;
  top: 470px;
  left: 360px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.frame .rectangle-11 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 255px;
  left: 0;
  background-color: #dcf6f6;
  border-radius: 50px;
}

.frame .rectangle-12 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 255px;
  left: 0;
  background-color: #eee4fc;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .text-wrapper-26 {
  width: 319px;
  top: 401px;
  left: 89px;
  font-size: 24px;
  white-space: nowrap;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.frame .line-3 {
  width: 312px;
  top: 470px;
  left: 12px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.frame .rectangle-13 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 6px;
  left: 348px;
  background-color: #dcf6f6;
  border-radius: 50px;
}

.frame .rectangle-14 {
  position: absolute;
  width: 333px;
  height: 240px;
  top: 6px;
  left: 348px;
  background-color: #fed8e3;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .text-wrapper-27 {
  width: 310px;
  top: 170px;
  left: 375px;
  font-size: 24px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.frame .line-4 {
  width: 311px;
  top: 213px;
  left: 360px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.frame .ellipse-13 {
  position: absolute;
  width: 143px;
  height: 143px;
  top: 24px;
  left: 441px;
  background-color: #fed8e3;
  border-radius: 71.5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .wmremove-transformed-6 {
  width: 203px;
  height: 204px;
  top: 0;
  left: 411px;
  position: absolute;
  object-fit: cover;
}

.frame .ellipse-14 {
  position: absolute;
  width: 143px;
  height: 143px;
  top: 273px;
  left: 94px;
  background-color: #eee4fc;
  border-radius: 71.5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .wmremove-transformed-7 {
  width: 197px;
  height: 197px;
  top: 240px;
  left: 69px;
  position: absolute;
  object-fit: cover;
}

.frame .wmremove-transformed-8 {
  width: 197px;
  height: 197px;
  top: 227px;
  left: 420px;
  position: absolute;
  object-fit: cover;
}

.frame .overlap-8 {
  position: absolute;
  width: 843px;
  height: 419px;
  top: 1355px;
  left: 65px;
  background-color: #defde1;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #00000040;
}

.frame .overlap-9 {
  position: absolute;
  width: 263px;
  height: 263px;
  top: 30px;
  left: 23px;
  background-color: #defde1;
  border-radius: 131.5px;
  border: 1px solid;
  border-color: #000000;
}

.frame .wmremove-transformed-9 {
  width: 206px;
  height: 206px;
  top: 22px;
  left: 40px;
  position: absolute;
  object-fit: cover;
}

.frame .text-wrapper-28 {
  width: 517px;
  top: 158px;
  left: 313px;
  font-size: 40px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.frame .line-5 {
  width: 822px;
  top: 369px;
  left: 12px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.frame .navbar {
  position: fixed;
  width: 1728px;
  height: 92px;
  top: 19px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
}

.frame .text-wrapper-29 {
  width: 121px;
  left: 827px;
  position: absolute;
  top: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-30 {
  width: 168px;
  left: 1060px;
  position: absolute;
  top: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-31 {
  width: 123px;
  left: 1605px;
  position: absolute;
  top: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-32 {
  width: 147px;
  left: 1344px;
  position: absolute;
  top: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-33 {
  width: 142px;
  left: 551px;
  position: absolute;
  top: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap-group-2 {
  position: absolute;
  width: 197px;
  height: 53px;
  top: 19px;
  left: 225px;
}

.frame .rectangle-15 {
  position: absolute;
  width: 177px;
  height: 53px;
  top: 0;
  left: 0;
  background-color: #799eff;
  border-radius: 50px;
}

.frame .text-wrapper-34 {
  position: absolute;
  width: 166px;
  top: 12px;
  left: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .lambang-kota-cirebon {
  width: 122px;
  height: 123px;
  top: 2507px;
  left: 33px;
  position: fixed;
  object-fit: cover;
}

.frame .text-wrapper-35 {
  position: fixed;
  width: 284px;
  top: 2524px;
  left: 152px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-36 {
  position: fixed;
  width: 471px;
  top: 2570px;
  left: 151px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .rectangle-16 {
  position: fixed;
  width: 196px;
  height: 64px;
  top: 31px;
  left: 0;
  background-color: #799eff;
  border-radius: 30px;
}

.frame .lambang-kota-cirebon-2 {
  width: 65px;
  height: 64px;
  top: 32px;
  left: 1px;
  position: fixed;
  object-fit: cover;
}

.frame .text-wrapper-37 {
  position: fixed;
  width: 79px;
  top: 40px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-38 {
  position: fixed;
  width: 119px;
  top: 62px;
  left: 62px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .lambang-kota-cirebon-3 {
  width: 54px;
  height: 54px;
  top: 2817px;
  left: 167px;
  position: fixed;
  object-fit: cover;
}

.frame .lambang-kota-cirebon-4 {
  width: 63px;
  height: 63px;
  top: 2807px;
  left: 50px;
  position: fixed;
  object-fit: cover;
}
